# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# ORDER MATTERS

CODEOWNERS    @BenMatase @DTV96Calibre @JAV04 @tomficcadenti @Phlosioneer

# Matt's domain - Benevolent Dictator for Life!
# Ben also, because github breaks when there's only one owner but the owner needs a code review.
arduino/*  @Phlosioneer @BenMatase
raspberrypi/*    @Phlosioneer @BenMatase

web/*             @BenMatase @DTV96Calibre @JAV04 @tomficcadenti
backend/*	@JAV04 @DTV96Calibre
