.ProjectNav {
  text-align: center;
}

.project-info-panel{
    border-color: white;
}

.project-info-panel-header{
  background: #287241;
  background: -webkit-linear-gradient(to left, #237a57, #287241);
  background: linear-gradient(to left, #237a57, #287241); 
}

.project-info-title{
    margin-top: 5px;
    margin-bottom: 0px;
    color: white;
}

.rowC{
  display:flex; 
  flex-direction:row;
  align-items: stretch;
}

.colC{
  flex-basis: 50%;
}

.unclaimed-device{
  background-color: #333; 
  border-color: #333;
  padding: 15px;
  margin: 10px;
}

#contained-modal-title{
  color: black;
}

.cardTitle{
  margin-top: 0px;
}

.cardSubtitle{
  margin-bottom: 15px;
}

#claim-modal-title{
  margin: 0px;
}

.project-info-panel{
    border: thick double silver;
}

.project-info-body{
    border: none;
    border-bottom: thick double silver;
}

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=password]:focus:not([readonly]) + label {
  color: #4f4f4f; }