.device-nav-panel{
    border: thin solid silver;
}

.device-nav-title{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.device-nav-body{
    padding: 0px;
}

.device-nav-body > .well{
    margin-bottom: 0px;
}

.device-nav-panel-head{
  padding: 5px;
  border: 4px double white;
  background: #287241 !important;
}

.device-nav>li.active>a, .device-nav>li.active>a:focus, .device-nav>li.active>a:hover {
    color: #fff;
    width: 100%;
    background: #91836b;/* fallback for old browsers */
}

.device-nav-well{
    padding-left: 3px;
    padding-right: 3px;
}

