@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');

.ubuntu{
	font-family: 'Ubuntu', sans-serif !important;
}

.bold{
	font-weight: bold;
}

.black{
	color: black;
}

.white{
	color: white;
}