@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Concert+One|Play');

.linda{
    font-family: 'Play';
}

.concert{
	font-family: 'Play', sans-serif;
}

.bold{
	font-weight: bold;
}

.black{
	color: black;
}

.white{
	color: white;
}