body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #237a57);
  background: linear-gradient(to right, #000000,  #237a57); 
}

html {
	min-height: 100%;
  	height: 100%;
}


