.ProjectNav {
  text-align: center;
}



a {
    color: #080808;
    text-decoration: none;
}

.nav {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #7ECE29;
    text-align: center;
}